@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font: 62.5%;
        overflow-x: hidden;
    }

    html::-webkit-scrollbar {
        width: 1rem;
    }
}